<% content_for :css do %>
<link rel="stylesheet" href="assets/css/lib/datatable/dataTables.bootstrap.min.css">
<% end %>
<div class="animated fadeIn">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header">
                  <strong class="card-title">Data Table</strong>
              </div>
              <div class="card-body">
                  <table id="bootstrap-data-table" class="table table-striped table-bordered">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Actions</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @users.each do |user| %>
                          <tr>
                              <td><%= user.first_name %>  <%= user.last_name %></td>
                              <td><%= user.email %></td>
                              <td>
                                <%= link_to 'Show', user %>
                                <%= link_to 'Edit', edit_user_path(user) %>
                                <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                              </td>                              
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
<% content_for :js do %>  
  <script src="assets/js/lib/data-table/datatables.min.js"></script>
  <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
  <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
  <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
  <script src="assets/js/lib/data-table/jszip.min.js"></script>
  <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
  <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
  <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
  <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
  <script src="assets/js/init/datatables-init.js"></script>
<% end %>
