<div class="animated fadeIn">
	<div class="row">
		<div class="col-md-12">
		    <section class="card">
		        <div class="twt-feed blue-bg">
		            <div class="corner-ribon black-ribon">
		                <i class="fa fa-twitter"></i>
		            </div>
		            <div class="fa fa-twitter wtt-mark"></div>

		            <div class="media">
		                <a href="#">
		                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" 
		                    src="<%= root_url %>/images/admin.jpg">
		                </a>
		                <div class="media-body">
		                    <h2 class="text-white display-6"><%= @user.first_name %>  <%= @user.last_name %></h2>
		                    <p class="text-light">Web Developer</p>
		                </div>
		            </div>
		        </div>
		        <div class="weather-category twt-category">
		            <ul>
		                <li class="active">
		                    <h5>750</h5>
		                    Tweets
		                </li>
		                <li>
		                    <h5>865</h5>
		                    Following
		                </li>
		                <li>
		                    <h5>3645</h5>
		                    Followers
		                </li>
		            </ul>
		        </div>		        
		        <footer class="twt-footer">		            		            
		            <span class="pull-left"><%= @user.email %></span>		            
		            <span class="pull-right">32 </span>
		        </footer>
		    </section>
		</div>	
	</div>
</div>
<%= link_to 'Edit', edit_user_path(@user), class: "btn btn-info" %> 
<%= link_to 'Back', users_path, class: "btn btn-danger" %>